POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=metadata_db
POSTGRES_PORT=5432

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse_password
CLICKHOUSE_DB=default
CLICKHOUSE_PORT=8123
CLICKHOUSE_HOST=localhost

DEFAULT_SITE_ID=default
AUTH_DISABLED=false
