CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse_password
CLICKHOUSE_DB=default
CLICKHOUSE_PORT=8123
CLICKHOUSE_HOST=localhost

ANALYTICS_API_KEY=demo-api-key
AUTH_DISABLED=false

R2_ACCOUNT_ID=your_cloudflare_account_id
R2_BUCKET_NAME=your_r2_bucket_name
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
# WATCH_SCHEDULES="name=monthly,full=0 0 1 * *,increment=0 2 * * *"
